#video {
  width:800px;
  height:600px;
}
  
#photo {
  width:800px;
  height:600px;
  z-index: 0;
}

#canvas {
  display:none;
}

#hiddenPreview {
  display: none !important;
  visibility: hidden;
}

#input {
  width: 800px;
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
}

#output {
  width: 800px;
  z-index: 0;
  position: absolute;
  top: 10px;
  left: 10px;
}

#photoBG {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
/*
#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}
*/